@import 'src/variables';

.signUp {
  label {
    color: $white-darken;
  }
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 100px;
  background-color: $color-secondary;
}

.signUp__form {
  height: 367.37px;
  box-sizing: border-box;
  border-radius: 10px;
  grid-area: 1 / 2 / 2 / 3;
  padding: 50px;
  background-color: $color-primary;
}

.signUp__submit {
  width: 100%;
  color: $color-primary;
  background-color: $color-secondary;
  &:hover {
    background-color: $color-secondary;
  }
}
.auth__option {
  label {
    color: $color-primary;
  }
  &:hover {
    label {
      color: $color-primary;
    }
  }
  background-color: $color-secondary;
}

