@import 'src/variables';

.notFound {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100%;
  background-color: $color-primary;
}

.notFound__text {
  font-size: 10em;
  margin: 0;
  color: $white-darken;
  text-transform: uppercase;
}


.notFound__goBack {
  color: $color-primary;
  background-color: $color-secondary;
  &:hover {
    background-color: $color-secondary;
  }
}