@import 'src/variables';

.content {
  color: $color-secondary;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}
@media screen and (max-width: 700px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

.content__text {
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 100px 50px 0 50px;
  background-color: $color-primary;
}

.content__heading {
  font-size: 3em;
  color: $white-darken;
}

.content__picture {
  background-color: $color-secondary;
}