@import 'src/variables';

.content {
  color: $color-secondary;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.content__text {
  display: flex;
  flex-flow: column;
  padding: 100px 50px 0 50px;
  background-color: $color-primary;
}

.content__heading {
  font-size: 3em;
  color: $white-darken;
}

.content__picture {
  background-color: $color-secondary;
}
.content__login {
  transition: all .2s ease-in-out; 
  color: $color-primary;
  background-color: $color-secondary;
  &:hover {
    background-color: $color-secondary;
  }
}