@import 'src/variables';

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 100%;
  background-color: $color-secondary;
}

.contacts__cards {
  margin-top: 10px;
  padding: 0px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 10px;
  @media screen and (max-width: 700px) {
    padding: 0px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  @media screen and (max-width: 400px) {
    padding: 0px 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.contacts__button {
  background-color: $color-primary;
  color: $color-secondary;
  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
  }
}

.contacts__pagination {
  margin-top: 15px;
  [data-active] {
    color: $color-secondary;
    background-color: $color-primary;
  }
}