@import 'src/variables';

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 100%;
  background-color: $color-secondary;
}

.contacts__cards {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 10px;
}

.contacts__button {
  background-color: $color-primary;
  color: $color-secondary;
  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
  }
}